{% extends 'halls/base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-4">{{ hall.title }}</h1>
        <h4 class="text-muted">by {{ hall.user.username }}</h4>
        {% if user.id == hall.user.id %}
            <a href="{% url 'halls:update_hall' hall.id %}" class="mt-2 btn btn-primary">Edit</a>
            <a href="{% url 'halls:add_video' hall.id %}" class="mt-2 btn btn-primary">Add videos</a>
            <a href="{% url 'halls:delete_hall' hall.id %}" class="mt-2 btn btn-danger">Delete</a>
        {% endif %}
        <div class="row">

            {% for video in hall.video_set.all %}
                <div class="col-md-4 mt-3">
                    <div class="card mb-4 shadow-sm">
                        <iframe width="100%" height="225"
                                src="https://www.youtube.com/embed/' + video['id']['videoId'] + '" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">{{ video.title }}</p>
                            {% if user.id == hall.user.id %}
                                <a href="{% url 'halls:delete_video' video.id %}" class="mt-2 btn btn-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}